* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --pale-blue: hsl(225, 100%, 94%);
    --light-pale-blue: hsla(225, 100%, 94%, 0.3);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(245, 74%, 40%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --dark-blue: hsl(223, 47%, 23%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --desaturated-blue-hover: hsl(224, 19%, 44%);
}

body {
    font-size: 1.6rem;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
}

#app {
    margin: 1.6rem;
    background-color: var(--very-pale-blue);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

#hero-banner img {
    width: 100%;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
}

#card-content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    text-align: center;

    padding: 2.4rem 2.0rem;
}

#card-content h1 {
    font-size: 3.0rem;
    font-weight: 900;
    color: var(--dark-blue);
}

#card-content p {
    font-weight: 500;
    line-height: 160%;
    color: var(--desaturated-blue);
    margin: 0 1.6rem;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-pale-blue);

    padding: 2.0rem 1.6rem;
    border-radius: 1.2rem;
}

.plan img {
    width: 5.6rem;
    height: 5.6rem;
}

.annual-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.annual-plan h3 {
    font-weight: 900;
    color: var(--dark-blue);
}

.annual-plan p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--desaturated-blue);
}

.plan a {
    font-weight: 900;
    margin-left: 2.4rem;
}

.btn-pay, .btn-cancel a {
    font-family: 'Red Hat Display', sans-serif;
}

.btn-pay {
    border: none;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    
    font-weight: 700;
    padding: 1.6rem 3.2rem;
}

.btn-pay:hover {
    background-color: var(--bright-blue-hover);
    cursor: pointer;
}

.btn-cancel {
    border: none;
    background-color: var(--very-pale-blue);
}

.btn-cancel a {
    text-decoration: none;
    font-size: 2.0rem;
    font-weight: 900;
    color: var(--desaturated-blue);
}

.btn-cancel a:hover {
    color: var(--desaturated-blue-hover);
    cursor: pointer;
}